<div class="allsyosaiactive">
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No1.高屋神社
  <br>～天空の鳥居～
  </div>
  <div class="syosaizyusyo">
  住所：香川県観音寺市高屋町２８００
  </div>
  <%= image_tag 'takaya1.jpg', class: 'mainphoto' %>      
</div>
  <div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashkagawa">
                ＃香川
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <br>
                ＃達成感
                ＃絶景
                ＃苦労が報われる
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
          登る過程まで思い出に
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ふもとから昇るのは、とても大変...！
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          急だけど緑に癒される、道のり
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            思い出の写真が撮れる
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            思い出の写真が撮れる
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No2.祖谷のかずら橋
  </div>

  <div class="syosaizyusyo">
  住所：徳島県三好市
  </div>
  <%= image_tag 'kazura1.jpg', class: 'mainphoto' %>      
</div>
<div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <br>
                ＃山
                ＃スリル
                ＃きれいな空気
                ＃絶景
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        自然のなかの綱渡り経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          怖すぎる、けど渡がいあり
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          緑の自然に囲まれて
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          時間がゆったり流れる地域です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          隠れ家飲食店も
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 


<div class="kekkasyosai">
<div class="hidari">
<div class="syosaikankouchimei">
No3.龍河洞
</div>
<div class="syosaizyusyo">
住所：高知県香美市
</div>
<%= image_tag 'ryugado1.jpg', class: 'mainphoto' %>      
</div>
<div class="migi">
    <div class="migiue">
    <div class="categorykoutuu">
    <div class="categorysetumei">
        <div class="hashkouchi">
        ＃高知
        </div>
        <div class="hashshizen">
        ＃自然
        </div>
        <div class="hashactive">
        ＃アクティブ
        </div>
        <br>
        ＃神秘的
        ＃深井洞窟へ
        ＃歴史に触れる
        ＃自然の営みに触れる     
    </div>
    <div class=koutuu>
            交通手段
    </div>
</div>
    <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        未知の世界を探検しにいく経験を
        </div>
    </div>
    </div>
    <div class="migishita">
    <div class="syosaipointhidari">
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        1憶7500万年前から育った鍾乳洞
        </div>
        </div>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        想像を超える世界がそこには広がります
        </div>
        </div>
    </div>
    <div class='syosaipointmigi'>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        2000年前の弥生人の居住跡も
        </div>
        </div>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        最後にはプロジェクションマッピングも...⁉
        </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>
