<div class="allsyosaiehime">
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No1.道後温泉
  </div>

  <div class="syosaizyusyo">
  住所：愛媛県松山市湯之町5-6
  </div>

  <%= image_tag 'dougo1.jpg', class: 'mainphoto' %>      
</div>

  <div class="migi">
    <div class="migiue">
    <div class="categorykoutuu">
      <div class="categorysetumei">
        <div class="hashehime">
        ＃愛媛
        </div>
        <div class="hashnonbiri">
        ＃のんびり
        </div>
        <div class="hashgoumet">
        ＃グルメ
        </div>
        <br>
        ＃温泉
        ＃癒し
        ＃夜の食べる歩き
        ＃浴衣でお散歩    
      </div>
      <div class=koutuu>
        ●車がおすすめ（各ホテルの駐車場が便利）<br>
        ●最寄：路面電車が通る道後温泉駅
      </div>
    </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
          夜に最高の癒しと
          <br>思い出作りを経験に
        </div>
      </div>
    </div>

    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            温泉使った後は浴衣で食べ歩き
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            個性豊かな温泉3種類完備しています
          </div>
        </div>
      </div>

      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            温泉の外観も魅力的です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            旅館、ホテルも豊富♪
          </div>
        </div>
      </div>
    </div>
    <%= link_to "詳細へ", perfumes_dougo1_path, class: "botan" %>
  </div>
</div>

<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No2.松山城
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'matsuyama1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashkansyo">
                ＃鑑賞
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃圧倒
                ＃歴史
                ＃体験型
                ＃充実
            </div>
            <div class=koutuu>
            ●車がおすすめ（駐車場有）<br>
          ●ロープウェイ乗り場の最寄<br>
          大街道駅から徒歩5分
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        見ごたえ抜群！
        <br>歴史に触れる経験を 
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          きれい・大きい・中も充実！
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ゴンドラに乗ってワクワクお城へ
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お城からの眺めも気持ちいい
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          実際に武士になった体験！？
            </div>
        </div>
      </div>
    </div>
    <%= link_to "詳細へ", perfumes_matsuyamazyo1_path, class: "botan" %>
  </div>
</div>

<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No3.タオル美術館
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県今治市
        </div>
        <%= image_tag 'taoru1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashkansyo">
                ＃鑑賞
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃タオル
                ＃カラフル
                ＃インスタ映え
                ＃タオルの歴史
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        素敵なタオルに触れて
        <br>囲まれる経験を
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          愛媛の名産「今治タオル」
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          たくさんのカラフルなタオルは圧巻です
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          タオルが作られる様子も見学できます
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お気に入りのタオルはお土産にも★
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No4.ぱんや雲珠
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'taoru1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashgoumet">
                ＃グルメ
                </div>
                <br>
                ＃焼き立てパン
                ＃ジブリ
                ＃インスタ映え
                ＃可愛い
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        お店に入る前から
        <br>買った後まで素敵な経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          見た目からかわいいおうち
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          焼き立てパンがずらーっっ！
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ジブリの世界に入った気分
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          可愛らしい店員さんの働く姿が目の前に
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No4.10FUCTORY
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'taoru1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashgoumet">
                ＃グルメ
                </div>
                <br>
                ＃ひたすらみかん
                ＃オレンジ
                ＃インスタ映え
                ＃美味しい
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        愛媛ならではの
        <br>みかん比べの経験を
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          みかんの商品無限です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          おすすめはジェラートとソフトクリーム
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お土産も充実しています
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          愛媛のミカンを楽しんで♪
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
