<div class="allsyosaigoumet">
            <div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No1.ぱんや雲珠
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'panya1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashgoumet">
                ＃グルメ
                </div>
                <br>
                ＃焼き立てパン
                ＃ジブリ
                ＃インスタ映え
                ＃可愛い
            </div>
            <div class=koutuu>
            ●車がおすすめ（駐車場有）
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        お店に入る前から
        <br>買った後まで素敵な経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          見た目からかわいいおうち
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          焼き立てパンがずらーっっ！
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ジブリの世界に入った気分
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          可愛らしい店員さんの働く姿が目の前に
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

                    <div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No2.10FUCTORY
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'mikan1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashgoumet">
                ＃グルメ
                </div>
                <br>
                ＃ひたすらみかん
                ＃オレンジ
                ＃インスタ映え
                ＃美味しい
            </div>
            <div class=koutuu>
            ●歩きがおすすめ
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        愛媛ならではの
        <br>みかん比べの経験を
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          みかんの商品無限です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          おすすめはジェラートとソフトクリーム
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お土産も充実しています
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          愛媛のミカンを楽しんで♪
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 
                <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                No3.ひろめ市場
            </div>
            <div class="syosaizyusyo">
                住所：高知県香美市
            </div>
            <%= image_tag 'hirome1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashgoumet">
                            ＃グルメ
                        </div>
                        <br>
                        ＃絶品
                        ＃ご当地料理
                        ＃わいわい
                        ＃一日の終わりに
                    </div>
                    <div class="koutuu">
                        ●徒歩OK JR高知駅から2分<br>
                        ●車〇駐車場有<br>
                        ○ごはん約1000円～
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        名物料理と市場の雰囲気を<br>たしなむ経験を
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            60店舗余りが出店する、巨大屋台村！
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            カツオのたたきから地鶏、餃子、芋けんぴなども
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            みんなでわいわい楽しめる居酒屋のような雰囲気！
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            一日の締めはぜひここで
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

    <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      No4.道の駅 
      <br>くるくる鳴門
      </div> 
      <div class="syosaizyusyo">
      住所：徳島県鳴門市
      </div>
      <%= image_tag 'imo1.jpg', class: 'mainphoto' %>      
    </div>
      <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                    <div class="hashtokushima">
                    ＃徳島
                    </div>
                    <div class="hashgoumet">
                    ＃グルメ
                    </div>
                    <br>
                    ＃芋！
                    ＃imo！
                    ＃見た目も可愛い
                    ＃ご当地名産物
                </div>
                <div class=koutuu>
                ●車がおすすめ・必須（駐車場有）<br>
            ○入場料なし
                </div>
            </div>
          <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            徳島の魅力たっぷり道の駅
            </div>
          </div>
        </div>
        <div class="migishita">
          <div class="syosaipointhidari">
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              鳴門金時は絶品です
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              芋のオブジェも可愛い♪
              </div>
            </div>
          </div>
          <div class='syosaipointmigi'>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              特産品を見つけられます
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              旅行のちょっとした寄り道に
                </div>
            </div>
          </div>
        </div>
      </div>
    </div>   
</div>          