<div class="allsyosaikansyo">
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No1.大塚国際美術館
  </div>
  <div class="syosaizyusyo">
  住所：徳島県鳴門市
  </div>
  <%= image_tag 'otsuka1.jpg', class: 'mainphoto' %>      
</div>
  <div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashkansyo">
                ＃鑑賞
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃圧倒
                ＃絶景
                ＃異国感
                ＃異国の世界
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        異国な空間で過ごす
        <br>素敵な思い出に
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          入ると広がる異国の世界
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          古代～現代の西洋名画1000点以上
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          聖堂も再現されている！
          <br>タイムスリップした気分♪
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          3時間でも足りません
            </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No2.松山城
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県松山市
        </div>
        <%= image_tag 'matsuyama1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashkansyo">
                ＃鑑賞
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃圧倒
                ＃歴史
                ＃体験型
                ＃充実
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        見ごたえ抜群！
        <br>歴史に触れる経験を 
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          きれい・大きい・中も充実！
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ゴンドラに乗ってワクワクお城へ
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お城からの眺めも気持ちいい
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          実際に武士になった体験！？
            </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kekkasyosai">
    <div class="hidari">
        <div class="syosaikankouchimei">
        No3.タオル美術館
        </div>
        <div class="syosaizyusyo">
        住所：愛媛県今治市
        </div>
        <%= image_tag 'taoru1.jpg', class: 'mainphoto' %>      
    </div>
    <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                <div class="hashehime">
                ＃愛媛
                </div>
                <div class="hashkansyo">
                ＃鑑賞
                </div>
                <div class="hashnonbiri">
                ＃のんびり
                </div>
                <br>
                ＃タオル
                ＃カラフル
                ＃インスタ映え
                ＃タオルの歴史
            </div>
            <div class=koutuu>
            交通手段
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        素敵なタオルに触れて
        <br>囲まれる経験を
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          愛媛の名産「今治タオル」
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          たくさんのカラフルなタオルは圧巻です
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          タオルが作られる様子も見学できます
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          お気に入りのタオルはお土産にも★
            </div>
        </div>
      </div>
    </div>
  </div>
</div>