<div class="allsyosaikouchi">
    <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                No1.四国カルスト
            </div>
            <div class="syosaizyusyo">
                住所：高知県と愛媛県の境
            </div>
            <%= image_tag 'karusuto1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashshizen">
                            ＃自然
                        </div>
                        <div class="hashnonbiri">
                            ＃のんびり
                        </div>
                        <br>
                        ＃まるでアルプス
                        ＃思い出の写真
                        ＃絶景
                        ＃心に残る
                    </div>
                    <div class="koutuu">
                        ●「道の駅ゆすはら」から、<br>車で約1時間<br>
                        ●車が必須
                        <br>
                        ○行くのは無料♪
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        大自然を全身で感じて<br>忘れられない経験に
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            圧倒的爽快感
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            まるでアルプスの丘...！
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            日ごろの悩みも忘れてリラックス
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            ソフトクリーム、カフェラテもいただけます
                        </div>
                    </div>
                </div>
            </div>
            <%= link_to "詳細へ", perfumes_karusuto1_path, class: "botan" %>
        </div>
    </div>

    <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                No2.龍河洞
            </div>
            <div class="syosaizyusyo">
                住所：高知県香美市
            </div>
            <%= image_tag 'ryugado1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashshizen">
                            ＃自然
                        </div>
                        <div class="hashactive">
                            ＃アクティブ
                        </div>
                        <br>
                        ＃神秘的
                        ＃深井洞窟へ
                        ＃歴史に触れる
                        ＃自然の営みに触れる
                    </div>
                    <div class="koutuu">
                    ●車がおすすめ（駐車場有）<br>●JR土佐山田駅からバス20分<br>
                     <br> ○「観光コース」大人1200円
                       <br> ○「冒険コース」大人2700円
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        未知の世界を<br>探検しにいく経験を
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            1憶7500万年前から育った鍾乳洞
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            想像を超える世界がそこには広がります
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            2000年前の弥生人の居住跡も
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            最後にはプロジェクションマッピングも...⁉
                        </div>
                    </div>
                </div>
            </div>
            <%= link_to "詳細へ", perfumes_ryugado1_path, class: "botan" %>
        </div>
    </div>

    <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                No3.ひろめ市場
            </div>
            <div class="syosaizyusyo">
                住所：高知県香美市
            </div>
            <%= image_tag 'hirome1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashgoumet">
                            ＃グルメ
                        </div>
                        <br>
                        ＃絶品
                        ＃ご当地料理
                        ＃わいわい
                        ＃一日の終わりに
                    </div>
                    <div class="koutuu">
                        ●徒歩OK JR高知駅から2分<br>
                        ●車〇駐車場有<br>
                        ○ごはん約1000円～
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        名物料理と市場の雰囲気を<br>たしなむ経験を
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            60店舗余りが出店する、巨大屋台村！
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            カツオのたたきから地鶏、餃子、芋けんぴなども
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            みんなでわいわい楽しめる居酒屋のような雰囲気！
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                            一日の締めはぜひここで
                        </div>
                    </div>
                </div>
            </div> 
        </div>
    </div>

        <div class="kekkasyosai">
                <div class="hidari">
                    <div class="syosaikankouchimei">
                        No4.「モネの庭」<br>マルモッタン
                    </div>
                    <div class="syosaizyusyo">
                        住所：高知県安芸郡
                    </div>
                    <%= image_tag 'mone1.jpg', class: 'mainphoto' %>
                </div>
                <div class="migi">
                    <div class="migiue">
                        <div class="categorykoutuu">
                            <div class="categorysetumei">
                                <div class="hashkouchi">
                                    ＃高知
                                </div>
                                <div class="hashshizen">
                                    ＃自然
                                </div>
                                <br>
                                ＃絶景
                                ＃落ち着いた<br>
                                ＃美しい
                                ＃四季を感じる
                            </div>
                            <div class="koutuu">
                                ●車がおすすめ（駐車場有）
                                <br>
                                ○入園料　一般1000円
                            </div>
                        </div>
                        <div class="syosaikokonoko">
                            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                            <div class="syosaiheartbun">
                                豊かな自然の中で<br>モネを近くに感じる体験
                            </div>
                        </div>
                    </div>
                    <div class="migishita">
                        <div class="syosaipointhidari">
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                あの画家、モネが愛した庭がモデル
                                </div>
                            </div>
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                四季折々の自然模様
                                </div>
                            </div>
                        </div>
                        <div class="syosaipointmigi">
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                園内には３つの庭やカフェ、ショップなども
                                </div>
                            </div>
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                自然の美しさを存分に味わって
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= link_to "詳細へ", perfumes_mone1_path, class: "botan" %>
                </div>
            </div>   

            <div class="kekkasyosai">
                <div class="hidari">
                    <div class="syosaikankouchimei">
                        No5.桂浜・桂浜公園
                    </div>
                    <div class="syosaizyusyo">
                        住所：高知県高知市
                    </div>
                    <%= image_tag 'katsurahama1.jpg', class: 'mainphoto' %>
                </div>
                <div class="migi">
                    <div class="migiue">
                        <div class="categorykoutuu">
                            <div class="categorysetumei">
                                <div class="hashkouchi">
                                    ＃高知
                                </div>
                                <div class="hashshizen">
                                    ＃自然
                                </div>
                                <br>
                                ＃絶景
                                ＃風が気持ちいい<br>
                                ＃色々楽しめる
                                ＃お店も充実
                            </div>
                            <div class="koutuu">
                                ●車がおすすめ（駐車場有）<br>
                                ●JR高知駅からバスで約30分
                                <br>入場料無し
                            </div>
                        </div>
                        <div class="syosaikokonoko">
                            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                            <div class="syosaiheartbun">
                                歴史と自然と楽しさを<br>まるごと経験
                            </div>
                        </div>
                    </div>
                    <div class="migishita">
                        <div class="syosaipointhidari">
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                象徴は「坂本龍馬像」
                                </div>
                            </div>
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                高知県を代表する景勝地
                                </div>
                            </div>
                        </div>
                        <div class="syosaipointmigi">
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                岬と岬の間に広がる弓状の砂浜
                                </div>
                            </div>
                            <div class="syosaipoint">
                                <span class="dli-check-circle"><span></span></span>
                                <div class="syosaipointbun">
                                土佐民謡よさこい節でも唄われる場所
                                </div>
                            </div>
                        </div>
                    </div>
                    <%= link_to "詳細へ", perfumes_katsurahama1_path, class: "botan" %>
                </div>
            </div>   
        </div>
    </div>
</div>
</div>
