 <div class="allsyosainature">
 <div class="kekkasyosai">
 <div class="hidari">
     <div class="syosaikankouchimei">
         No1.四国カルスト
     </div>
     <div class="syosaizyusyo">
         住所：高知県と愛媛県の境
     </div>
     <%= image_tag 'karusuto1.jpg', class: 'mainphoto' %>
 </div>
 <div class="migi">
     <div class="migiue">
         <div class="categorykoutuu">
             <div class="categorysetumei">
                 <div class="hashkouchi">
                     ＃高知
                 </div>
                 <div class="hashshizen">
                     ＃自然
                 </div>
                 <div class="hashnonbiri">
                     ＃のんびり
                 </div>
                 <br>
                 ＃まるでアルプス
                 ＃思い出の写真
                 ＃絶景
                 ＃心に残る
             </div>
             <div class="koutuu">
             ●「道の駅ゆすはら」から、<br>車で約1時間<br>
             ●車が必須
             <br>
             ○行くのは無料♪
             </div>
         </div>
         <div class="syosaikokonoko">
             <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
             <div class="syosaiheartbun">
                 大自然を全身で感じて<br>忘れられない経験に
             </div>
         </div>
     </div>
     <div class="migishita">
         <div class="syosaipointhidari">
             <div class="syosaipoint">
                 <span class="dli-check-circle"><span></span></span>
                 <div class="syosaipointbun">
                     圧倒的爽快感
                 </div>
             </div>
             <div class="syosaipoint">
                 <span class="dli-check-circle"><span></span></span>
                 <div class="syosaipointbun">
                     まるでアルプスの丘...！
                 </div>
             </div>
         </div>
         <div class="syosaipointmigi">
             <div class="syosaipoint">
                 <span class="dli-check-circle"><span></span></span>
                 <div class="syosaipointbun">
                     日ごろの悩みも忘れてリラックス
                 </div>
             </div>
             <div class="syosaipoint">
                 <span class="dli-check-circle"><span></span></span>
                 <div class="syosaipointbun">
                     ソフトクリーム、カフェラテもいただけます
                 </div>
             </div>
         </div>
     </div>
     <%= link_to "詳細へ", perfumes_karusuto1_path, class: "botan" %>
 </div>
</div>

<div class="kekkasyosai">
<div class="hidari">
    <div class="syosaikankouchimei">
        No2.「モネの庭」<br>マルモッタン
    </div>
    <div class="syosaizyusyo">
        住所：高知県安芸郡
    </div>
    <%= image_tag 'mone1.jpg', class: 'mainphoto' %>
</div>
<div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashkouchi">
                    ＃高知
                </div>
                <div class="hashshizen">
                    ＃自然
                </div>
                <br>
                ＃絶景
                ＃落ち着いた<br>
                ＃美しい
                ＃四季を感じる
            </div>
            <div class="koutuu">
                ●車がおすすめ（駐車場有）
                <br>
                ○入園料　一般1000円
            </div>
        </div>
        <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
                豊かな自然の中で<br>モネを近くに感じる体験
            </div>
        </div>
    </div>
    <div class="migishita">
        <div class="syosaipointhidari">
            <div class="syosaipoint">
                <span class="dli-check-circle"><span></span></span>
                <div class="syosaipointbun">
                あの画家、モネが愛した庭がモデル
                </div>
            </div>
            <div class="syosaipoint">
                <span class="dli-check-circle"><span></span></span>
                <div class="syosaipointbun">
                四季折々の自然模様
                </div>
            </div>
        </div>
        <div class="syosaipointmigi">
            <div class="syosaipoint">
                <span class="dli-check-circle"><span></span></span>
                <div class="syosaipointbun">
                園内には３つの庭やカフェ、ショップなども
                </div>
            </div>
            <div class="syosaipoint">
                <span class="dli-check-circle"><span></span></span>
                <div class="syosaipointbun">
                自然の美しさを存分に味わって
                </div>
            </div>
        </div>
    </div>
    <%= link_to "詳細へ", perfumes_mone1_path, class: "botan" %>
</div>
</div>   

<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No3.祖谷のかずら橋
  </div>

  <div class="syosaizyusyo">
  住所：徳島県三好市
  </div>
  <%= image_tag 'kazura1.jpg', class: 'mainphoto' %>      
</div>
<div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <br>
                ＃山
                ＃スリル
                ＃きれいな空気
                ＃絶景
            </div>
            <div class=koutuu>
            ●車がおすすめ・必須（駐車場有）
            <br>○大人　270円
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        自然のなかの綱渡り経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          怖すぎる、けど渡がいあり
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          緑の自然に囲まれて
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          時間がゆったり流れる地域です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          隠れ家飲食店も
            </div>
        </div>
      </div>
    </div>
     <%= link_to "詳細へ", perfumes_kazura1_path, class: "botan" %>
  </div>
</div> 

