<div class="allsyosainonbiri">
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No1.金刀比羅宮
  </div>
  <div class="syosaizyusyo">
  住所：香川県仲多度郡琴平町８９２−１
  </div>
  <%= image_tag 'kin1.jpg', class: 'mainphoto' %>      
</div>
  <div class="migi">
    <div class="migiue">
    <div class="categorykoutuu">
      <div class="categorysetumei">
        <div class="hashkagawa">
        ＃香川
        </div>
        <div class="hashshizen">
        ＃自然
        </div>
        <div class="hashnonbiri">
        ＃のんびり
        </div>
        <br>
        ＃こんぴらさん
        ＃達成感
        ＃神社
        ＃あやかり   
      </div>
      <div class=koutuu>
      ●JR琴平駅から徒歩15分
      <br>●車OK駐車場有
      <br>○参拝料　無料
      <br>○博物館　有料
        </div>
    </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
          こんぴらさんに会いに
          <br>行った思い出を
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          「さぬきこんぴらさん」
          <br>で親しまれています
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          長い長い階段も登りがい
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          海の神様もとにあやかりへ
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          ふもとには美味しいうどんも
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No2.道後温泉
  </div>

  <div class="syosaizyusyo">
  住所：愛媛県松山市湯之町5-6
  </div>

  <%= image_tag 'dougo1.jpg', class: 'mainphoto' %>      
</div>

  <div class="migi">
    <div class="migiue">
    <div class="categorykoutuu">
      <div class="categorysetumei">
        <div class="hashehime">
        ＃愛媛
        </div>
        <div class="hashnonbiri">
        ＃のんびり
        </div>
        <div class="hashgoumet">
        ＃グルメ
        </div>
        <br>
        ＃温泉
        ＃癒し
        ＃夜の食べる歩き
        ＃浴衣でお散歩    
      </div>
      <div class=koutuu>
      ●車がおすすめ（各ホテルの駐車場が便利）<br>
      ●最寄：路面電車が通る道後温泉駅
      <br>○３館とも入浴のみで　大人約500円
      </div>
    </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
          夜に最高の癒しと
          <br>思い出作りを経験に
        </div>
      </div>
    </div>

    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            温泉使った後は浴衣で食べ歩き
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            個性豊かな温泉3種類完備しています
          </div>
        </div>
      </div>

      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            温泉の外観も魅力的です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
            旅館、ホテルも豊富♪
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<div class="kekkasyosai">
<div class="hidari">
<div class="syosaikankouchimei">
No3.四国カルスト
</div>
<div class="syosaizyusyo">
住所：高知県と愛媛県の境
</div>
<%= image_tag 'karusuto1.jpg', class: 'mainphoto' %>      
</div>
<div class="migi">
    <div class="migiue">
    <div class="categorykoutuu">
    <div class="categorysetumei">
        <div class="hashkouchi">
        ＃高知
        </div>
        <div class="hashshizen">
        ＃自然
        </div>
        <div class="hashnonbiri">
        ＃のんびり
        </div>
        <br>
        ＃まるでアルプス
        ＃思い出の写真
        ＃絶景
        ＃心に残る     
    </div>
    <div class=koutuu>
            交通手段
    </div>
</div>
    <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        大自然を全身で感じて思い出に
        </div>
    </div>
    </div>
    <div class="migishita">
    <div class="syosaipointhidari">
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        圧倒的爽快感
        </div>
        </div>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        まるでアルプスの丘...！
        </div>
        </div>
    </div>
    <div class='syosaipointmigi'>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        日ごろの悩みも忘れてリラックス
        </div>
        </div>
        <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        ソフトクリーム、カフェラテもいただけます
        </div>
        </div>
    </div>
    </div>
</div>
</div>
</div>

