<div class="kokonokokonoko">
  <%= image_tag 'heart.jpg', class: 'kyoyu' %>
  <div class='kyoyu1'>
    ココノコ詳細
  </div>
  <%= link_to "投稿一覧に戻る", flowers_path,{class: "syosaimodoru"} %>
</div>

  <div class="flower2">
    <% if @flower.image_top.attached? %>
      <%= image_tag @flower.image_top, class: "photosyosai" %>
    <% end %>
    <div class="syosaibun">
     <div class="syosaibun1"> 
        <p class="syosaikankoucihime"><%= @flower.name %></p>
        <p class="syosaidate"><%= @flower.date %></p>
        <p class="syosaiusername"><%= @flower.username %></p>
      </div>
      <div class="syosaibun2">
        <p class="syosaicategory"><%= @flower.category %></p>
        <p class="syosaiprefecture"><%= @flower.Prefecture %></p>
      </div>
      <p class="syosaiabout"><%= @flower.about %></p>
    </div>
</div>
 <%= link_to "編集する", edit_flower_path(@flower.id),{class: "syosaihensyu"} %>

<div class="syosaiiine">
<% if user_signed_in? %>
      <% if current_user.already_liked?(@flower) %>
        <%= link_to flower_like_path(@flower), method: :delete do %>
          <i class="fas fa-heart"></i><%= @flower.likes.count %>
        <% end %>
      <% else %>

        <%= link_to flower_likes_path(@flower), method: :post do %>
          <i class="far fa-heart"></i><%= @flower.likes.count %>
        <% end %>
      <% end %>

    <% else %>
      いいねの数 <%= @flower.likes.count %>
    <% end %>

<h2>みんなからのいいね♪</h2>
<% @flower.liked_users.each do |user| %>
  <%= user.email %>
<% end %>

  <div class="comment-wrapper">
    <% @comments.each do |c| %>
      <div>
        <%= c.user.email unless c.user.blank? %>
        <br>
        <%= c.content %>
      </div>
        <br>
    <% end %>

    <% if user_signed_in? %>
      <%= form_with(model: [@flower, @comment], local: true) do |f| %>
        <%= f.text_area :content %>
        <%= button_tag type: "submit" do %>
          <i class="far fa-comments"></i> コメントする
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>


