<h1>shikoku</h1>
<h3>Flower詳細</h3>
<div class="flower">
  <p><%= @flower.name %></p>
  <p><%= @flower.about%></p>
  <p><%= @flower.feeling%></p>
  <p><%= @flower.category%></p>
  <p><%= @flower.Prefecture%></p>
  <p><%= @flower.username%></p>
  <p><%= @flower.date%></p>
    <% if user_signed_in? %>

      <% if current_user.already_liked?(@flower) %>
        <%= link_to flower_like_path(@flower), method: :delete do %>
          <i class="fas fa-heart"></i><%= @flower.likes.count %>
        <% end %>
      <% else %>

        <%= link_to flower_likes_path(@flower), method: :post do %>
          <i class="far fa-heart"></i><%= @flower.likes.count %>
        <% end %>
      <% end %>
         
       <i class="far fa-heart"></i><%= @flower.likes.count %>

    <% else %>
      <p>いいねの数 = </p><%= @flower.likes.count %>
    <% end %>
  
</div>

<div class="image-top">
  <%= image_tag @flower.resize_image_top if @flower.image_top.attached? %>
</div>

<h2>いいねしたユーザー</h2>
<% @flower.liked_users.each do |user| %>
  <li><%= user.email %></li>
<% end %>

<div class="comment-wrapper">
  <p>コメント一覧</p>
  <% @comments.each do |c| %>
    <div>
      <%= c.user.email unless c.user.blank? %>
      <br>
      <%= c.content %>
    </div>
      <br>
  <% end %>

  <% if user_signed_in? %>
    <%= form_with(model: [@flower, @comment], local: true) do |f| %>
      <%= f.text_area :content %>
      <%= button_tag type: "submit" do %>
        <i class="far fa-comments"></i> コメントする
      <% end %>
    <% end %>
  <% end %>
</div>

<%= link_to "編集する", edit_flower_path(@flower.id) %>
<%= link_to "Flower一覧に戻る", flowers_path %>
