<div class="allsyosaitokushima">
  <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      No1.大塚国際美術館
      </div>
      <div class="syosaizyusyo">
      住所：徳島県鳴門市
      </div>
      <%= image_tag 'otsuka1.jpg', class: 'mainphoto' %>      
    </div>
      <div class="migi">
        <div class="migiue">
            <div class="categorykoutuu">
                <div class="categorysetumei">
                    <div class="hashtokushima">
                    ＃徳島
                    </div>
                    <div class="hashkansyo">
                    ＃鑑賞
                    </div>
                    <div class="hashnonbiri">
                    ＃のんびり
                    </div>
                    <br>
                    ＃圧倒
                    ＃絶景
                    ＃異国感
                    ＃異国の世界
                </div>
                <div class=koutuu>
              ●車がおすすめ（駐車場有）
              <br>
              ●JR鳴門駅からバス15分
              <br>入館料　一般当日券　3300円
              <br>　　　　大学生当日券　2200円
                </div>
            </div>
          <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            異国な空間で過ごす
            <br>素敵な思い出に
            </div>
          </div>
        </div>
        <div class="migishita">
          <div class="syosaipointhidari">
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              入ると広がる異国の世界
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              古代～現代の西洋名画1000点以上
              </div>
            </div>
          </div>
          <div class='syosaipointmigi'>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              聖堂も再現されている！
              <br>タイムスリップした気分♪
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              3時間でも足りません
                </div>
            </div>
          </div>
        </div>
         <%= link_to "詳細へ", perfumes_otsuka1_path, class: "botan" %>
      </div>
  </div>

  <div class="kekkasyosai">
  <div class="hidari">
    <div class="syosaikankouchimei">
    No2.鳴門海峡
    </div>

    <div class="syosaizyusyo">
    住所：徳島県鳴門市
    </div>
    <%= image_tag 'uzushio1.jpg', class: 'mainphoto' %>      
  </div>

    <div class="migi">
      <div class="migiue">
          <div class="categorykoutuu">
              <div class="categorysetumei">
                  <div class="hashtokushima">
                  ＃徳島
                  </div>
                  <div class="hashnonbiri">
                  ＃のんびり
                  </div>
                  <div class="hashshizen">
                  ＃自然
                  </div>
                  <br>
                  ＃圧倒
                  ＃フェリー
                  ＃自然の力
                  ＃爽快
              </div>
              <div class=koutuu>
              ●車がおすすめ（駐車場有）
              <br>
              ●JR鳴門駅からバス15分
              <br>○わんだーなると　1800円<br>
              ○アクアエディ　2400円
              </div>
          </div>
        <div class="syosaikokonoko">
          <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
          <div class="syosaiheartbun">
          ここでしか見れない
          <br>圧倒的自然を目近に経験
          </div>
        </div>
      </div>
      <div class="migishita">
        <div class="syosaipointhidari">
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            世界最大級の渦潮が目の前に
            </div>
          </div>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            大きいものだと直径20mにも！？
            </div>
          </div>
        </div>
        <div class='syosaipointmigi'>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            2種類の観潮船から選べる
            </div>
          </div>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            事前に時間をリサーチしていこう
              </div>
          </div>
        </div>
      </div>
    </div>
</div>             

<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No3.祖谷のかずら橋
  </div>

  <div class="syosaizyusyo">
  住所：徳島県三好市
  </div>
  <%= image_tag 'kazura1.jpg', class: 'mainphoto' %>      
</div>
<div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <br>
                ＃山
                ＃スリル
                ＃きれいな空気
                ＃絶景
            </div>
            <div class=koutuu>
            ●車がおすすめ・必須（駐車場有）
            <br>○大人　270円
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        自然のなかの綱渡り経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          怖すぎる、けど渡がいあり
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          緑の自然に囲まれて
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          時間がゆったり流れる地域です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          隠れ家飲食店も
            </div>
        </div>
      </div>
    </div>
     <%= link_to "詳細へ", perfumes_kazura1_path, class: "botan" %>
  </div>
</div> 

<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  No4.道の駅 
  <br>くるくる鳴門
  </div>

  <div class="syosaizyusyo">
  住所：徳島県鳴門市
  </div>
  <%= image_tag 'imo1.jpg', class: 'mainphoto' %>      
</div>
  <div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashgoumet">
                ＃グルメ
                </div>
                <br>
                ＃芋！
                ＃imo！
                ＃見た目も可愛い
                ＃ご当地名産物
            </div>
            <div class=koutuu>
            ●車がおすすめ・必須（駐車場有）<br>
            ○入場料なし
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        徳島の魅力たっぷり道の駅
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          鳴門金時は絶品です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          芋のオブジェも可愛い♪
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          特産品を見つけられます
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          旅行のちょっとした寄り道に
            </div>
        </div>
      </div>
    </div>
  </div>
</div>   
</div>