    <div class="topkotoba">
    ココノコ四国
    </div>
   <%= image_tag 'karusuto6.jpg', class: 'topphoto' %>

<div class="toptop">
    <%= image_tag 'heart.jpg', class: 'top6' %>
    <div class="top2">
    <div class="top1">
    <ココノコの心得>
    </div>
    <div class="top3">
    「旅は人生を豊かにする。」
    <br>
    そこでしか得られない心に残る経験。
    <br>
    何年たっても心に残る経験。
    <br>
    さあ、四国でココノコを見つけよう。
    </div>
</div>

<div class="slide-container slide-paused" ontouchstart="">      
    <div class="slide-container">
        <div class="slide-wrapper">
            <%= image_tag 'sakanoue1.jpg', class: 'slide' %>
            <%= image_tag 'chichibu1.jpg', class: 'slide' %>
            <%= image_tag 'takaya1.jpg', class: 'slide' %>
            <%= image_tag 'imo1.jpg', class: 'slide' %>
        </div>
        <div class="slide-wrapper">
                <%= image_tag 'sakanoue1.jpg', class: 'slide' %>
                <%= image_tag 'chichibu3.jpg', class: 'slide' %>
                <%= image_tag 'takaya1.jpg', class: 'slide' %>
                <%= image_tag 'imo1.jpg', class: 'slide' %>
        </div>
        <div class="slide-wrapper">
            <%= image_tag 'sakanoue1.jpg', class: 'slide' %>
            <%= image_tag 'chichibu3.jpg', class: 'slide' %>
            <%= image_tag 'takaya1.jpg', class: 'slide' %>
            <%= image_tag 'imo1.jpg', class: 'slide' %>
        </div>
    </div>
</div>

