<div class="allsyosai">
  <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      秩父ヶ浜
      </div>

      <div class="syosaizyusyo">
      住所：香川県三豊市
      </div>

      <%= image_tag 'chichibu1.jpg', class: 'mainphoto' %>      
    </div>

      <div class="migi">
        <div class="migiue">
        <div class="categorykoutuu">
        <div class="categorysetumei">
            <div class="hashkagawa">
            ＃香川
            </div>
            <div class="hashshizen">
            ＃自然
            </div>
            <br>
            ＃海
            ＃思い出の写真
            ＃絶景
            ＃心に残る     
        </div>
        <div class=koutuu>
                ●最寄JR詫間駅
                <br>
                ●高松自動車道さぬき豊中IC
                <br>
                より約20分。
                 無料の駐車場有
        </div>
    </div>
          <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            心に残る思い出と写真を
            </div>
          </div>
        </div>
        
        <div class="migishita">
          <div class="syosaipointhidari">
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              見たことない美しい砂浜
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              海の広さを全身で感じて
              </div>
            </div>
          </div>
          <div class='syosaipointmigi'>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              色々ポーズをするのも楽しい！
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              日の入り時が狙い目
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'chichibu6.jpg', class: 'subphoto1' %>
          <div class="subbun">
          1kmにわたる白砂が特徴的なロングビーチ。
          瀬戸内海の穏やかな波が打ち寄せます。
          人気の理由はなんといっても、干潮時、
          浜辺にできる大きな
          潮だまりを通して、絶景の水鏡の写真が撮れること。 
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'chichibu3.jpg', class: 'subphoto1' %>
          <div class="subbun">
          友達と行ったら、仲良しポーズが撮り放題。
          秩父ヶ浜を見守る優しい方が、写真の撮り方を教えてくれます。
          友達との素敵な一生の写真を、思い出の一枚に載せて。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'chichibu4.jpg', class: 'subphoto1' %>
          <div class="subbun">
            近年様々なカフェや飲食店がオープンしています。
            地域の魅力が感じられるユニークなコンセプトや
            絶景と一緒に写真に映したくなるドリンク。
            砂浜だけで終わらないのが秩父ヶ浜です。
          </div>
        </div>
      </div>

      <div class="subitem-wrapper">
          <div class="subitem">
          <%= image_tag 'chichibu6.jpg', class: 'subphoto1' %>
          <div class="subbun">
          1kmにわたる白砂が特徴的なロングビーチ。
          瀬戸内海の穏やかな波が打ち寄せます。
          人気の理由はなんといっても、干潮時、
          浜辺にできる大きな
          潮だまりを通して、絶景の水鏡の写真が撮れること。 
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'chichibu3.jpg', class: 'subphoto1' %>
          <div class="subbun">
          友達と行ったら、仲良しポーズが撮り放題。
          秩父ヶ浜を見守る優しい方が、写真の撮り方を教えてくれます。
          友達との素敵な一生の写真を、思い出の一枚に載せて。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'chichibu4.jpg', class: 'subphoto1' %>
          <div class="subbun">
            近年様々なカフェや飲食店がオープンしています。
            地域の魅力が感じられるユニークなコンセプトや
            絶景と一緒に写真に映したくなるドリンク。
            砂浜だけで終わらないのが秩父ヶ浜です。
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
