<div class="allsyosai">
  <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      道後温泉
      </div>

      <div class="syosaizyusyo">
      住所：愛媛県松山市
      </div>

      <%= image_tag 'dougo1.jpg', class: 'mainphoto' %>      
    </div>

      <div class="migi">
        <div class="migiue">
        <div class="categorykoutuu">
          <div class="categorysetumei">
            <div class="hashdougo">
            ＃愛媛
            </div>
            <div class="hashnonbiri">
            ＃のんびり
            </div>
            <div class="hashgoumet">
            ＃グルメ
            </div>
            <br>
            ＃温泉
            ＃癒し
            ＃夜の食べる歩き
            ＃浴衣でお散歩    
          </div>
          <div class=koutuu>
          ●車がおすすめ（各ホテルの駐車場が便利）<br>
        ●最寄：路面電車が通る道後温泉駅
          </div>
        </div>
          <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
              夜に最高の癒しと思い出を
            </div>
          </div>
        </div>

        <div class="migishita">
          <div class="syosaipointhidari">
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
                浴衣で食べ歩き
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
                温泉3種類完備
              </div>
            </div>
          </div>

          <div class='syosaipointmigi'>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
                温泉の外観も魅力的
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
                旅館、ホテルも豊富
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'dougo2.jpg', class: 'subphoto1' %>
          <div class="subbun">
            「道後温泉　本館」<br>
            日本最古といわれる道後温泉のシンボル。
            平成6年12月に公衆浴場で初めて、
            国の重要文化財に指定されました。
            全国でも珍しい加温も加水もしていない
            源泉かけ流しの「美人の湯」を満喫できます。
            約3000年の歴史が誇り。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'dougo3.jpg', class: 'subphoto1' %>
          <div class="subbun">
            「道後温泉　飛鳥乃温泉」
            <br>日本最古といわれる温泉にふさわしい
            飛鳥時代の建築様式を取り入れた湯屋。
            本館と同じ「源泉かけ流し」を満喫できます。
            一方、外観は近未来的。インスタ映えにも人気です。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'dougo6.jpg', class: 'subphoto1' %>
          <div class="subbun">
          「島後温泉　椿の湯」
          <br>椿をシンボルとした松山市民の
          「親しみの湯」。多くの人に愛される公衆浴場で、
          道後商店街の中央に位置し、
          蔵屋敷風の落ち着いた雰囲気をかもしだす。
          本館と同じ「源泉かけ流し」を満喫できます。
          </div>
        </div>
       </div>

        <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'dougo5.jpg', class: 'subphoto1' %>
          <div class="subbun">
            温泉から出た後は、浴衣のまま温泉街を歩けます。
            多くの飲食店、お土産屋さんが並びます。
            夜ごはんから夜食まで...温泉を出た後も、まだまだ続く楽しみな時間。
          </div>
        </div>

        <div class="subitem">
        <%= image_tag 'dougo2.jpg', class: 'subphoto1' %>
        <div class="subbun">
          「道後温泉　本館」<br>
          日本最古といわれる道後温泉のシンボル。
          平成6年12月に公衆浴場で初めて、
          国の重要文化財に指定されました。
          全国でも珍しい加温も加水もしていない
          源泉かけ流しの「美人の湯」を満喫できます。
          約3000年の歴史が誇り。
        </div>
      </div>

      <div class="subitem">
        <%= image_tag 'dougo3.jpg', class: 'subphoto1' %>
        <div class="subbun">
          「道後温泉　飛鳥乃温泉」
          <br>日本最古といわれる温泉にふさわしい
          飛鳥時代の建築様式を取り入れた湯屋。
          本館と同じ「源泉かけ流し」を満喫できます。
          一方、外観は近未来的。インスタ映えにも人気です。
        </div>
      </div>

      
    </div>
  </div>
</div>
