<div class="allsyosai">
  <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      四国カルスト
      </div>

      <div class="syosaizyusyo">
      住所：高知県と愛媛県の境
      </div>
      <%= image_tag 'karusuto2.jpg', class: 'mainphoto' %>      
    </div>

      <div class="migi">
        <div class="migiue">
        <div class="categorykoutuu">
        <div class="categorysetumei">
            <div class="hashkouchi">
            ＃高知
            </div>
            <div class="hashshizen">
            ＃自然
            </div>
            <div class="hashnonbiri">
            ＃のんびり
            </div>
            <br>
            ＃まるでアルプス
            ＃思い出の写真
            ＃絶景
            ＃心に残る     
        </div>
        <div class=koutuu>
        ●車必須
        <br>
        ●「道の駅ゆすはら」から、
        <br>車で約1時間
        <br>その他いくつかルートあり
        </div>
    </div>
          <div class="syosaikokonoko">
            <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
            <div class="syosaiheartbun">
            大自然を全身で感じて
            <br>忘れられない経験に
            </div>
          </div>
        </div>

        <div class="migishita">
          <div class="syosaipointhidari">
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              圧倒的爽快感
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              まるでアルプスの丘...！
              </div>
            </div>
          </div>
          <div class='syosaipointmigi'>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
              日ごろの悩みも忘れてリラックス
              </div>
            </div>
            <div class="syosaipoint">
              <span class="dli-check-circle"><span></span></span>
              <div class="syosaipointbun">
                ソフトクリーム、カフェラテもいただけます
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>


  <div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'karusuto3.jpg', class: 'subphoto1' %>
          <div class="subbun">
          頂上に着くと、空気感から違う異世界が広がります。
          青い空とはるか彼方まで連なる山々。
          まるでヨーロッパのアルプスを走り抜けているかのような
          爽快なドライブが楽しめます。
          異世界をいざ出発。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'karusuto4.jpg', class: 'subphoto1' %>
          <div class="subbun">
            カルストでは、お食事が提供されていることも。
            絶景を楽しみながら、食べるソフトクリーム、
            飲むカフェラテは、絶品。
            日ごろの疲れ、悩みも忘れて
            ゆっくり時間の流れを感じながら、
            至福のひと時を過ごしてみませんか。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'karusuto1.jpg', class: 'subphoto1' %>
          <div class="subbun">
            白のブランコがちょこん。座ってみると、
            おもわずハイジになった気分。
            目の前いっぱいに広がる山々を見て、
            自然の偉大さを実感します。
            地面を踏みしめて、自然の声に耳を
            傾けてみるのもいいかもしれません。
          </div>
        </div>
      </div>

      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'karusuto3.jpg', class: 'subphoto1' %>
          <div class="subbun">
          青い空とはるか彼方まで連なる山々。
          まるでヨーロッパのアルプスを走り抜けているかのような
          爽快なドライブが楽しめます。
          異世界をいざ出発。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'karusuto4.jpg', class: 'subphoto1' %>
          <div class="subbun">
            カルストでは、お食事が提供されていることも。
            絶景を楽しみながら、食べるソフトクリーム、
            飲むカフェラテは、絶品。
            日ごろの疲れ、悩みも忘れて
            ゆっくり時間の流れを感じながら、
            至福のひと時を過ごしてみませんか。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'karusuto1.jpg', class: 'subphoto1' %>
          <div class="subbun">
            白のブランコがちょこん。座ってみると、
            おもわずハイジになった気分。
            目の前いっぱいに広がる山々を見て、
            自然の偉大さを実感します。

            </div>
          </div>
        </div>
    </div>
  </div>
</div>