<div class="allsyosai">
    <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                桂浜・桂浜公園
            </div>
            <div class="syosaizyusyo">
                住所：高知県高知市
            </div>
            <%= image_tag 'katsurahama1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashshizen">
                            ＃自然
                        </div>
                        <br>
                        ＃絶景
                        ＃風が気持ちいい<br>
                        ＃色々楽しめる
                        ＃お店も充実
                    </div>
                    <div class="koutuu">
                        ●車がおすすめ（駐車場有） <br>
                        ●JR高知駅からバスで約30分
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        歴史と自然と楽しさを<br>まるごと経験
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        象徴は「坂本龍馬像」
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        高知県を代表する景勝地
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        岬と岬の間に広がる弓状の砂浜
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        土佐民謡よさこい節でも唄われる場所
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="subitem-container subitem-paused" ontouchstart="">  
        <div class="subitem-container">
          <div class="subitem-wrapper">
            <div class="subitem">
              <%= image_tag 'katsurahama4.jpg', class: 'subphoto1' %>
              <div class="subbun">
              「龍馬像」<br>
              和服姿に懐手、ブーツ姿の龍馬の高さは5.3m、台座を含めると13.5mも。
              毎年4月上旬からの2か月間と、龍馬の誕生日かつ命日の11月15日を挟んだ約2か月間は、
              龍馬像横に設置される展望台から龍馬と同じ目線で太平洋を眺めることができます。
              </div>
            </div>
    
            <div class="subitem">
              <%= image_tag 'katsurahama3.jpg', class: 'subphoto1' %>
              <div class="subbun">
              「KATSURAHAMA PARK」
              食べる・買う・学ぶ・憩うをテーマにした
              商業施設エリア、海のテラス。
              その中心には、誰でもご利用いただける憩いの場所も。
              桂浜で充実した素敵な時間が過ごせます。
              </div>
            </div>
    
            <div class="subitem">
              <%= image_tag 'katsurahama2.jpg', class: 'subphoto1' %>
              <div class="subbun">
              高知県を代表する観光名所の一つである「桂浜」。
              絶景が見られるのはもちろん、周辺には商業施設や、
              水族館坂本龍馬記念館など、訪れるべきところがたくさんあります。
              </div>
            </div>
          </div>
          <div class="subitem-wrapper">
          <div class="subitem">
            <%= image_tag 'katsurahama4.jpg', class: 'subphoto1' %>
            <div class="subbun">
            「龍馬像」<br>
            和服姿に懐手、ブーツ姿の龍馬の高さは5.3m、台座を含めると13.5mも。
            毎年4月上旬からの2か月間と、龍馬の誕生日かつ命日の11月15日を挟んだ約2か月間は、
            龍馬像横に設置される展望台から龍馬と同じ目線で太平洋を眺めることができます。
            </div>
          </div>
  
          <div class="subitem">
            <%= image_tag 'katsurahama3.jpg', class: 'subphoto1' %>
            <div class="subbun">
            「KATSURAHAMA PARK」
            食べる・買う・学ぶ・憩うをテーマにした
            商業施設エリア、海のテラス。
            その中心には、誰でもご利用いただける憩いの場所も。
            桂浜で充実した素敵な時間が過ごせます。
            </div>
          </div>
  
          <div class="subitem">
            <%= image_tag 'katsurahama2.jpg', class: 'subphoto1' %>
            <div class="subbun">
            高知県を代表する観光名所の一つである「桂浜」。
            絶景が見られるのはもちろん、周辺には商業施設や、
            水族館坂本龍馬記念館など、訪れるべきところがたくさんあります。
            </div>
          </div>
          </div>
        </div>
      </div>
    </div>










</div>