<div class="allsyosai">
<div class="kekkasyosai">
<div class="hidari">
  <div class="syosaikankouchimei">
  祖谷のかずら橋
  </div>

  <div class="syosaizyusyo">
  住所：徳島県三好市
  </div>
  <%= image_tag 'kazura1.jpg', class: 'mainphoto' %>      
</div>

  <div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashtokushima">
                ＃徳島
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <br>
                ＃山
                ＃スリル
                ＃きれいな空気
                ＃絶景
            </div>
            <div class=koutuu>
            ●車がおすすめ（駐車場有）
            </div>
        </div>
      <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
        自然のなかの綱渡り経験
        </div>
      </div>
    </div>
    <div class="migishita">
      <div class="syosaipointhidari">
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          怖すぎる、けど渡がいあり
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          緑の自然に囲まれて
          </div>
        </div>
      </div>
      <div class='syosaipointmigi'>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          時間がゆったり流れる地域です
          </div>
        </div>
        <div class="syosaipoint">
          <span class="dli-check-circle"><span></span></span>
          <div class="syosaipointbun">
          隠れ家飲食店も
            </div>
        </div>
      </div>
    </div>
  </div>
</div> 

<div class="subitem-container subitem-paused" ontouchstart="">  
<div class="subitem-container">
  <div class="subitem-wrapper">
    <div class="subitem">
      <%= image_tag 'kazura6.jpg', class: 'subphoto1' %>
      <div class="subbun">
      祖谷川に架かる、国の重要有形民俗文化財「祖谷のかずら橋」
      橋床の隙間から谷底が見え、
      長さ45mの吊り橋の揺れもあって
      渡る人に適度なスリルを味わわせます。

      </div>
    </div>

    <div class="subitem">
      <%= image_tag 'kazura3.jpg', class: 'subphoto1' %>
      <div class="subbun">
      「四季折々の美しさ」<br>
      周囲を木々に囲まれ、
      眼下には祖谷川の渓流を見下ろせます。
      春は藤が咲き、夏は新緑、
      秋は紅葉に染まり、冬は見事な雪景色。
      自然と調和した美しい景観
      は圧巻。
      </div>
    </div>

    <div class="subitem">
      <%= image_tag 'kazura5.jpg', class: 'subphoto1' %>
      <div class="subbun">
        カフェ「森のくまさん」<br>
        かずら橋の近くには、モーニングから営業している
        カフェも。人気のメニューはクマの形をした「パンケーキ」。
        店内からは、森林を眺めることができます。

      </div>
    </div>
  </div>

  <div class="subitem-wrapper">
  <div class="subitem">
  <%= image_tag 'kazura2.jpg', class: 'subphoto1' %>
  <div class="subbun">
  「ライトアップ」<br>
  毎日19:00〜21:30の間かずら橋がライトアップ
  されます。（渡橋はできません）
  闇夜の中に照らされたかずら橋は幻想的。
  </div>
</div>

<div class="subitem">
      <%= image_tag 'kazura6.jpg', class: 'subphoto1' %>
      <div class="subbun">
      祖谷川に架かる、国の重要有形民俗文化財「祖谷のかずら橋」
      橋床の隙間から谷底が見え、
      長さ45mの吊り橋の揺れもあって
      渡る人に適度なスリルを味わわせます。

      </div>
    </div>

    <div class="subitem">
      <%= image_tag 'kazura5.jpg', class: 'subphoto1' %>
      <div class="subbun">
        カフェ「森のくまさん」<br>
        かずら橋の近くには、モーニングから営業している
        カフェも。人気のメニューはクマの形をした「パンケーキ」。
        店内からは、森林を眺めることができます。

      </div>
    </div>
  </div>
</div>
</div>
</div>
</div>

