<div class="allsyosai">
  <div class="kekkasyosai">
    <div class="hidari">
      <div class="syosaikankouchimei">
      松山城
      </div>

      <div class="syosaizyusyo">
      住所：愛媛県松山市
      </div>
      <%= image_tag 'matsuyama1.jpg', class: 'mainphoto' %>      
  </div>
  <div class="migi">
      <div class="migiue">
          <div class="categorykoutuu">
              <div class="categorysetumei">
              <div class="hashehime">
              ＃愛媛
              </div>
              <div class="hashkansyo">
              ＃鑑賞
              </div>
              <div class="hashnonbiri">
              ＃のんびり
              </div>
              <br>
              ＃圧倒
              ＃歴史
              ＃体験型
              ＃充実
          </div>
          <div class=koutuu>
          ●車がおすすめ（駐車場有）<br>
          ●ロープウェイ乗り場の最寄<br>
          大街道駅から徒歩5分
          </div>
      </div>
    <div class="syosaikokonoko">
      <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
      <div class="syosaiheartbun">
      見ごたえ抜群！
      <br>歴史に触れる経験を 
      </div>
    </div>
  </div>
  <div class="migishita">
    <div class="syosaipointhidari">
      <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        きれい・大きい・中も充実！
        </div>
      </div>
      <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        ゴンドラに乗ってワクワクお城へ
        </div>
      </div>
    </div>
    <div class='syosaipointmigi'>
      <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        お城からの眺めも気持ちいい
        </div>
      </div>
      <div class="syosaipoint">
        <span class="dli-check-circle"><span></span></span>
        <div class="syosaipointbun">
        実際に武士になった体験！？
          </div>
      </div>
    </div>
  </div>
</div>
</div>


  <div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'matsuyama2.jpg', class: 'subphoto1' %>
          <div class="subbun">
            松山城までは、ふもとからロープウェイで登ります。
            登っている間の景色は町全体を見渡せます。
            絶景を見れて、爽快な気分に。
            ロープウェイ乗っている間には足元にお楽しみも...！
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'matsuyama4.jpg', class: 'subphoto1' %>
          <div class="subbun">
            松山城の中は、色々な体験ができるアクティビティが豊富。
            実際に銃を構えてみたり、当時の風景をVRで体験出来たり。
            お城の中も体験式で歴史を学びながら、回れます。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'matsuyama5.jpg', class: 'subphoto1' %>
          <div class="subbun">
          この穴から、敵の姿を見ていたのだろうか...？
         塀、建物のささやかな工夫に、思わず武士の気持ちに思いを馳せます。
         タイムスリップして自分んも武士になった気分に...！
          </div>
        </div>
       </div>

        <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'matsuyama2.jpg', class: 'subphoto1' %>
          <div class="subbun">
           松山城までは、ふもとからロープウェイで登ります。
            登っている間の景色は町全体を見渡せます。
            絶景を見れて、爽快な気分に。
            ロープウェイ乗っている間には足元にお楽しみも...！  
          </div>
        </div>

        <div class="subitem">
        <%= image_tag 'matsuyama4.jpg', class: 'subphoto1' %>
        <div class="subbun">
        松山城の中は、色々な体験ができるアクティビティが豊富。
        実際に銃を構えてみたり、当時の風景をVRで体験出来たり。
        お城の中も体験式で歴史を学びながら、回れます。
        </div>
      </div>

      <div class="subitem">
        <%= image_tag 'matsuyama5.jpg', class: 'subphoto1' %>
        <div class="subbun">
        この穴から、敵の姿を見ていたのだろうか...？
        塀、建物のささやかな工夫に、思わず武士の気持ちに思いを馳せます。
        タイムスリップして自分んも武士になった気分に...！
        </div>
      </div>

      
    </div>
  </div>
</div>
