<div class="allsyosai">
    <div class="kekkasyosai">
        <div class="hidari">
            <div class="syosaikankouchimei">
                No4.「モネの庭」<br>マルモッタン
            </div>
            <div class="syosaizyusyo">
                住所：高知県安芸郡
            </div>
            <%= image_tag 'mone1.jpg', class: 'mainphoto' %>
        </div>
        <div class="migi">
            <div class="migiue">
                <div class="categorykoutuu">
                    <div class="categorysetumei">
                        <div class="hashkouchi">
                            ＃高知
                        </div>
                        <div class="hashshizen">
                            ＃自然
                        </div>
                        <br>
                        ＃絶景
                        ＃落ち着いた<br>
                        ＃美しい
                        ＃四季を感じる
                    </div>
                    <div class="koutuu">
                        ●車がおすすめ（駐車場有）
                    </div>
                </div>
                <div class="syosaikokonoko">
                    <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
                    <div class="syosaiheartbun">
                        豊かな自然の中で<br>モネを近くに感じる体験
                    </div>
                </div>
            </div>
            <div class="migishita">
                <div class="syosaipointhidari">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        あの画家、モネが愛した庭がモデル
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        四季折々の自然模様
                        </div>
                    </div>
                </div>
                <div class="syosaipointmigi">
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        園内には３つの庭やカフェ、ショップなども
                        </div>
                    </div>
                    <div class="syosaipoint">
                        <span class="dli-check-circle"><span></span></span>
                        <div class="syosaipointbun">
                        自然の美しさを存分に味わって
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    
    <div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'mone2.jpg', class: 'subphoto1' %>
          <div class="subbun">
            「花の庭」<br>
            季節の花々が彩り、
            バラのアーチやノルマン囲いの造形、
            花壇ごとに変わる花の色など、
            まさに
            画家のパレットのなかの色あわせを
            思わせるよう。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'mone3.jpg', class: 'subphoto1' %>
          <div class="subbun">
            「水の庭」
            <br>浮世絵の影響を受けた
            モネの、日本を感じる庭は晩年彼をひきつけて止まない
            ものでした。光と、それによる水の反映、時間により
            移り行く色彩。
            モネの絵画の中でも代表作となった睡蓮も見れるかも。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'mone4.jpg', class: 'subphoto1' %>
          <div class="subbun">
          「ボルディゲラの庭」
          <br>光り輝くモネの作品から発想した、
          世界で1つの庭。
          これは、2008年、モネがボルディゲラの旅に材を取った作品と
          その地中海の世界をテーマにしたもの。
          地中海と高知の光に出会うことのできる庭です。
          </div>
        </div>
       </div>

        <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'mone5.jpg', class: 'subphoto1' %>
          <div class="subbun">
          庭の中心部にあるギャラリー・ショップは、
          ジヴェルニーのモネのアトリエと家を
          モチーフにデザインされています。
          緑色の鎧戸、レンガ色の外観は、
          まさにモネの家そのもの。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'mone2.jpg', class: 'subphoto1' %>
          <div class="subbun">
            「花の庭」<br>
            季節の花々が彩り、
            バラのアーチやノルマン囲いの造形、
            花壇ごとに変わる花の色など、
            まさに
            画家のパレットのなかの色あわせを
            思わせるよう。
          </div>
        </div>

        <div class="subitem">
        <%= image_tag 'mone3.jpg', class: 'subphoto1' %>
        <div class="subbun">
          「水の庭」
          <br>浮世絵の影響を受けた
          モネの、日本を感じる庭は晩年彼をひきつけて止まない
          ものでした。光と、それによる水の反映、時間により
          移り行く色彩。
          モネの絵画の中でも代表作となった睡蓮も見れるかも。
        </div>
      </div>
    </div>
  </div>   
</div>