<div class="allsyosai">
  <div class="kekkasyosai">
  <div class="hidari">
    <div class="syosaikankouchimei">
    No1.大塚国際美術館
    </div>
    <div class="syosaizyusyo">
    住所：徳島県鳴門市
    </div>
    <%= image_tag 'otsuka1.jpg', class: 'mainphoto' %>      
  </div>
    <div class="migi">
      <div class="migiue">
          <div class="categorykoutuu">
              <div class="categorysetumei">
                  <div class="hashtokushima">
                  ＃徳島
                  </div>
                  <div class="hashkansyo">
                  ＃鑑賞
                  </div>
                  <div class="hashnonbiri">
                  ＃のんびり
                  </div>
                  <br>
                  ＃圧倒
                  ＃絶景
                  ＃異国感
                  ＃異国の世界
              </div>
              <div class=koutuu>
              ●車がおすすめ（駐車場有）
              <br>
              ●JR鳴門駅からバス15分
              </div>
          </div>
        <div class="syosaikokonoko">
          <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
          <div class="syosaiheartbun">
          異国な空間で過ごす
          <br>素敵な思い出に
          </div>
        </div>
      </div>
      <div class="migishita">
        <div class="syosaipointhidari">
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            入ると広がる異国の世界
            </div>
          </div>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            古代～現代の西洋名画1000点以上
            </div>
          </div>
        </div>
        <div class='syosaipointmigi'>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            聖堂も再現されている！
            <br>タイムスリップした気分♪
            </div>
          </div>
          <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            3時間でも足りません
              </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="subitem-container subitem-paused" ontouchstart="">
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'otsuka2.jpg', class: 'subphoto1' %>
          <div class="subbun">
          約4kmに及ぶ鑑賞ルートの始めには、
          現地の空間をそのままに再現した環境展示も。
          古代遺跡や礼拝堂など、まさに古代ヨーロッパ
          にタイムスリップした気分。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'otsuka4.jpg', class: 'subphoto1' %>
          <div class="subbun">
          古代壁画から現代絵画まで、
          世界26カ国190余の美術館が所蔵する
          約1,000点の世界の名画が、特殊技術
          によって陶板で原寸大に再現。壁いっぱいに広がります。
          </div>
        </div>

        <div class="subitem">
          <%= image_tag 'otsuka3.jpg', class: 'subphoto1' %>
          <div class="subbun">
          地下２階「カフェ・ド・ジヴェルニー」では、
          四国の自然豊かな大海原で育った
          新鮮な海鮮が味わえる「うずしお海鮮丼」を
          提供。鑑賞の休憩にも丁度良く、モネの庭『大睡蓮』を景色をみながら
          食べられます。
          </div>
        </div>
      </div>

      <div class="subitem-wrapper">
            <div class="subitem">
            <%= image_tag 'otsuka2.jpg', class: 'subphoto1' %>
            <div class="subbun">
            約4kmに及ぶ鑑賞ルートの始めには、
            現地の空間をそのままに再現した環境展示も。
            古代遺跡や礼拝堂など、まさに古代ヨーロッパ
            にタイムスリップした気分。
            </div>
          </div>

          <div class="subitem">
            <%= image_tag 'otsuka4.jpg', class: 'subphoto1' %>
            <div class="subbun">
            古代壁画から現代絵画まで、
            世界26カ国190余の美術館が所蔵する
            約1,000点の世界の名画が、特殊技術
            によって陶板で原寸大に再現。壁いっぱいに広がります。
            </div>
          </div>

          <div class="subitem">
            <%= image_tag 'otsuka3.jpg', class: 'subphoto1' %>
            <div class="subbun">
            地下２階「カフェ・ド・ジヴェルニー」では、
            四国の自然豊かな大海原で育った
            新鮮な海鮮が味わえる「うずしお海鮮丼」を
            提供。鑑賞の休憩にも丁度良く、モネの庭『大睡蓮』を景色をみながら
            食べられます。
            </div>
          </div>
        </div>
    </div>
  </div>
</div>