<div class="allsyosaikagawa">
<div class="kekkasyosai">
<div class="hidari">
    <div class="syosaikankouchimei">
    高屋神社
    <br>～天空の鳥居～
    </div>

    <div class="syosaizyusyo">
    住所：香川県観音寺市
    </div>

    <%= image_tag 'takaya1.jpg', class: 'mainphoto' %>      
</div>

    <div class="migi">
    <div class="migiue">
        <div class="categorykoutuu">
            <div class="categorysetumei">
                <div class="hashkagawa">
                ＃香川
                </div>
                <div class="hashshizen">
                ＃自然
                </div>
                <div class="hashactive">
                ＃アクティブ
                </div>
                <br>
                ＃達成感
                ＃絶景
                ＃苦労が報われる
            </div>
            <div class=koutuu>
            ●電車からのアクセス✖
            <br>
            ●車で本宮下に停めて
            <br>
            歩きで頂上まで約1時間30分
            </div>
        </div>
        <div class="syosaikokonoko">
        <%= image_tag 'heart.jpg', class: 'syosaiheart' %>
        <div class="syosaiheartbun">
            登る過程まで思い出に
        </div>
        </div>
    </div>
    <div class="migishita">
        <div class="syosaipointhidari">
        <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            ふもとから昇るのは、とても大変...！
            </div>
        </div>
        <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            急だけど緑に癒される、道のり
            </div>
        </div>
        </div>
        <div class='syosaipointmigi'>
        <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            頂上から絶景に報われます。
            </div>
        </div>
        <div class="syosaipoint">
            <span class="dli-check-circle"><span></span></span>
            <div class="syosaipointbun">
            山の上の神秘的な場所
            </div>
        </div>
        </div>
    </div>
    </div>
</div>

<div class="subitem-container subitem-paused" ontouchstart="">  
    <div class="subitem-container">
      <div class="subitem-wrapper">
        <div class="subitem">
          <%= image_tag 'takaya5.jpg', class: 'subphoto1' %>
          <div class="subbun">
            登っていって疲れたところにラストの石段！
            全部で270段。最後の力を振り絞ります。
            下から見上げると、思わず足がすくみそうですが、
            あきらめず、上を目指して登っていきます。
          </div>
        </div>

        <div class="subitem">
        <%= image_tag 'takaya3.jpg', class: 'subphoto1' %>
        <div class="subbun">
        山道を、木の棒の杖（下宮に設置）をつきながら登っていきます。
        途中には道とは思えない道も少し...！
        ぜひ誰かと一緒に登って山道も楽しみましょう。
        </div>
        </div>

        <div class="subitem">
        <%= image_tag 'takaya2.jpg', class: 'subphoto1' %>
        <div class="subbun">
          頂上では、香川全体を見渡せる絶景が広がっています。
          今までの努力が全て報われた気分...
          絶景を楽しみながら一息つきます。
          至福のひと時になること間違いなし。
        </div>
        </div>
      </div>
      <div class="subitem-wrapper">
      <div class="subitem">
      <%= image_tag 'takaya5.jpg', class: 'subphoto1' %>
      <div class="subbun">
        登っていって疲れたところにラストの石段！
        全部で270段。最後の力を振り絞ります。
        下から見上げると、思わず足がすくみそうですが、
        あきらめず、上を目指して登っていきます。
      </div>
    </div><div class="subitem">
          <%= image_tag 'takaya2.jpg', class: 'subphoto1' %>
          <div class="subbun">
            素敵な写真が撮れます。
          </div>
        </div>

        <div class="subitem">
        <%= image_tag 'takaya3.jpg', class: 'subphoto1' %>
        <div class="subbun">
        山道を、木の棒の杖（下宮に設置）をつきながら登っていきます。
        途中には道とは思えない道も少し...！
        ぜひ誰かと一緒に登って山道も楽しみましょう。
        </div>
        </div>


        <div class="subitem">
        <%= image_tag 'takaya2.jpg', class: 'subphoto1' %>
        <div class="subbun">
          頂上では、香川全体を見渡せる絶景が広がっています。
          今までの努力が全て報われた気分...
          絶景を楽しみながら一息つきます。
          至福のひと時になること間違いなし。
        </div>
        </div>
      </div>
      <div>

    </div>
  </div>
</div>
